<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用Spring来创建对象，在Spring中这些对象都被称之为bean-->
    <!--
    正常使用的创造对象的方法是：
    Hello hello = new Hello()
    类型名 对象名 = new 类型名()
    这里的id = 对象名   class = 类型名
    property 相当于给对象里的字段赋值
    -->
    <bean id="hello" class="it.xiaoyuan.Hello">
        <property name="name" value="Spring"/>
    </bean>

</beans>